<section id="headline">
    <div class="headline-bg wide-container mdl-grid">
        <div class="headline-text mdl-color-text--red-500 mdl-cell mdl-cell--12-col">
            <div class="logo-area">
                <h1>JISA</h1>
                <p>Japanese International Students Association</p>
                <a href='https://twitter.com/carlsimcity' target="_blank">
                    <button class='mdl-mini-footer__social-btn social-btn social-btn__twitter'></button>
                </a>
                <a href='https://instagram.com/simulatron/' target="_blank">
                    <button class="mdl-mini-footer__social-btn social-btn social-btn__instagram"></button>
                </a>
            </div>
        </div>
        <div class="about-text card-container mdl-color-text--grey-800 mdl-cell mdl-cell--12-col">
            <h2 class="mdl-color-text--red-500">About JISA</h2>
            <p>
                The Japanese International Students' Association (JISA) is a club at York University for anyone who is interested in Japan, its culture and society and/or its language to come together and live, laugh and learn. We strive to encourage cross-cultural communication between those in the York community and those in the greater Japanese community. We are a community where people with these interests can meet other like-minded people and hang out, making lifelong friends through the whole experience.
            </p>
        </div>
    </div>
</section>
<!--
<section id="about">
    <div class="about-bg mdl-grid">
        <div class="about-text card-container mdl-color-text--grey-800">
            <h2 class="mdl-color-text--red-500">About JISA</h2>
            <p>
                The Japanese International Students' Association (JISA) is a club at York University for anyone who is interested in Japan, its culture and society and/or its language to come together and live, laugh and learn. We strive to encourage cross-cultural communication between those in the York community and those in the greater Japanese community. We are a community where people with these interests can meet other like-minded people and hang out, making lifelong friends through the whole experience.
            </p>
        </div>
    </div>
</section>
-->
<section id="why">
    <div class="why-bg">
        <div class="wide-container">
            <div class="why-text mdl-color-text--grey-800">
                <h2 class="mdl-color-text--red-500">Why Join?</h2>
                <p>
                    There are several reasons to join JISA. 
                </p>
            </div>
            <div class="features-section mdl-grid">
                <div class="feature mdl-cell mdl-cell--12-col mdl-cell--middle">
                    <div class="img-side left">
                        <div class="language-help-img">
                        </div>
                    </div>
                    <div class="text-side right">
                        <h2 class="mdl-color-text--red-500">Language Help</h2>
                        <p>
                            JISA offers help and tutoring for anyone wanting to learn Japanese
                        </p>
                    </div>
                </div>
                <div class="feature">
                    <div class="img-side right">
                        <div class="events-img">
                            
                        </div>
                    </div>
                    <div class="text-side left">
                        <h2 class="mdl-color-text--red-500">Events</h2>
                        <p>
                            JISA occasionally holds events throughout the school year
                        </p>
                    </div>
                </div>
                <div class="img-side right">
                    <div class="language-help-img">
                        
                    </div>
                </div>
                <div class="text-side left ">
                    <h2 class="mdl-color-text--red-500">Community</h2>
                    <p>
                        Meet and make friends with others that have similar interests to you
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="events">
    <div class="events-overlay">
        <div class="events-bg">
            
        </div>
    </div>
</section>
